<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <div>
                All original content from opensource. 
                Create by UoA team.
                <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img
                        alt="Creative Commons Licence" style="border-width:0"
                        src="/img/UoA.png" /></a>
            </div>
    <div class="footer-icons">
        <a href="https://github.com/FrankChen2023/jkan" target="_blank"><i class="fa fa-github"></i></a>
</footer>
